.primaryBtn {
  width: 300px;
  height: 45px;
  background: var(--red);
  color: var(--white);
  font: 700 1rem OpenSans , sans-serif;
  border: 0.2rem solid transparent;
}

.primaryBtn:hover {
  background: var(--red-light);
}
