* {
  margin: 0;
  padding: 0;
}

:root {
  font: 400 1rem OpenSans , sans-serif;

  --white: #fff;

  // --gray-extra-light: #f4f4f4;
  --gray-light: #f4f4f4;
  --gray-neutral: #959597;
  --gray: #525252;

  --red: #CA3931;
  --red-light: #dd5048;

  --alert: #eeae2e;
}

body {
  background: var(--gray-light);
  padding: 1rem;

  .container {
    padding: 0 1rem;

    .header {
      .logoHeader {
        width: 15rem;
      }
    }
  
    .boxForm {
      width: 58rem;
      height: 19rem;
      // max-width: 58rem;
      // max-height: 19rem;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .headerForm {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
  
        .nav {
          display: flex;
          list-style-type: none;
    
          .navOptions {
            display: flex;
            cursor: pointer;
            
            .linkOption {
              display: flex;
              align-items: flex-end;
              padding: 0.5rem 0.75rem;
              text-transform: uppercase;
              text-decoration: none;
              color: var(--gray-neutral);
              cursor: pointer;
              
              .iconOption {
                height: 1.2rem;
                margin: 0 10px;
                padding: 0 0 0.25rem 0;
              }

              .labelOption {
                display: flex;
                flex-direction: column;

                .neutralSpan {
                  font-size: 0.75rem;
                  color: var(--gray-neutral)
                }

                .dinamicSpan {
                  font-size: 1.5rem;
                  color: var(--gray-neutral)
                }
              }
            }

            .linkOption:hover,
            .linkOption:hover .labelOption .dinamicSpan {
              color: var(--red-light);
            }
          }

          .navOptions:hover {
            border-bottom: 2px solid var(--red-light);
            color: var(--red-light);
          }
        }
    
        .actionButton {
          margin-left: auto;
        }
      }
  
      .bodyForm {
        width: 100%;
        height: 100%;
        background: var(--white);

        .contentForm {
          padding: 2rem;

          .checkFilter {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.2rem;

            .checkboxes {
              display: flex;
              margin: 0 0.75rem;
              // display: inline-block;
              // position: relative;
              // top: -1px;
              // width: 18;
              // height: 18px;7
              // margin: -1px 0px 0 0;
              // vertical-align: middle;
              // background: white left top no-repeat;
              border: 1px solid var(--red);
              cursor: pointer;
            }

            .checkSpan {
              font-size: 1.2rem;
            }
          }

          .actionFilters {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem 0.25rem;
            gap: 1rem;

            .advancedButton{
              color: var(--red);
              cursor: pointer;
              margin-right: auto;
            }

            .clearButton {
              color: var(--gray-neutral);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .row {
    display: flex;
    padding: 0.25rem;
  }

  .rowItems {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    gap: 0.75rem;
  }

  button {
    min-width: 200px;
    height: 38px;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, box-shadow 0.2s ease-out 0s;
  }

  select {
    min-width: 100px;
  }

  .selectMedium {
    width: 260px;
  }

  .selectSmall {
    width: 150px;
  }

  .outlineAlertBtn {
    background: transparent;
    font-size: 0.9rem;
    color: var(--alert);
    border: 1px solid var(--alert);
}
  
  .outlineAlertBtn:hover {
    background: var(--alert);
    color: var(--white);
  }
}